---
import { Image } from "astro:assets";

import StarrailManager from "/public/works/starrail-manager.png";
import UnagakuBot from "/public/works/unagaku-bot.png";
import BuildCard from "/public/works/BuildCard.png";
import TextLoid from "/public/works/textloid.png";
import UnaExam from "/public/works/una-exam.png";

const cards = [
  {
    href: "https://str-buildcard.vercel.app/",
    img: BuildCard,
    title: "ビルドカード生成機",
    desc: "『崩壊: スターレイル』のビルドカードを生成するWebアプリです。",
  },
  {
    href: "https://una-exam.vercel.app/",
    img: UnaExam,
    title: "音街ウナ総合学力試験 ホームページ",
    desc: "響立うなうな学院で主催している『音街ウナ総合学力試験』の公式ホームページ及び試験会場です。",
  },
  {
    href: "https://www.npmjs.com/package/starrail-manager",
    img: StarrailManager,
    title: "StarRail Manager",
    desc: "Node.js用の『MiHoMo API』ラッパー、『崩壊: スターレイル』のデータを取得するnpmパッケージです。",
  },
  {
    href: "https://discord.com/invite/Xh3mJ4AFgc",
    img: UnagakuBot,
    title: "響立うなうな学院 サポートBOT",
    desc: "Discordサーバー『響立うなうな学院』のために作成したbotです。",
  },
  {
    href: "https://github.com/Shicoku/TextLoid",
    img: TextLoid,
    title: "TextLoid",
    desc: "『VOICEROID』でテキストファイルから一行ずつ生成し、保存するソフトウェアです。",
  },
];
---

<div class="works">
  <h1 class="work-title">WORKS</h1>

  <div class="work-wrapper">
    <button class="arrow-btn left" id="left-btn"></button>

    <div class="work-cards" id="work-cards">
      {
        cards.map((c) => (
          <a
            href={c.href}
            target="_blank"
            rel="noopener noreferrer"
            class="work-card"
          >
            <div>
              <Image src={c.img} alt={c.title} />
              <h1>{c.title}</h1>
              <p>{c.desc}</p>
            </div>
          </a>
        ))
      }
    </div>

    <button class="arrow-btn right" id="right-btn"></button>
  </div>

  <div class="dot">
    <span class="dot-color"></span>
    <span></span>
    <span></span>
  </div>

  <div class="view-button">
    <a href="/works">View More →</a>
  </div>
</div>

<style>
  a {
    text-decoration: none;
    color: inherit;
  }

  .works {
    text-align: center;
  }
  .work-title {
    position: relative;
    padding-left: 50px;
    font-family: boldnese;
    font-size: 3.5rem;
    margin-top: 3rem;
    color: #0a1a2f;
  }
  .work-title::before {
    content: "";
    position: absolute;
    clip-path: polygon(0 0, 0 100%, 30% 100%, 30% 30%, 100% 30%, 100% 0);
    background: #0a1a2f;
    width: 30px;
    height: 30px;
    top: -10%;
    left: 40%;
  }
  .work-title::after {
    content: "";
    position: absolute;
    clip-path: polygon(0 70%, 0 100%, 100% 100%, 100% 0, 70% 0, 70% 70%);
    background: #0a1a2f;
    width: 30px;
    height: 30px;
    right: 37%;
    bottom: -10%;
  }

  .work-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .arrow-btn {
    position: absolute;
    width: 48px;
    height: 48px;
    border: none;
    background: transparent;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  .arrow-btn::after {
    content: "";
    width: 20px;
    height: 3px;
    background: #0a1a2f;
    border-radius: 2px;
  }
  .arrow-btn::before {
    content: "";
    width: 10px;
    height: 10px;
    border-top: 3px solid #0a1a2f;
    border-right: 3px solid #0a1a2f;
    position: absolute;
  }
  .arrow-btn.left::before {
    transform: rotate(-135deg);
    left: 12px;
  }
  .arrow-btn.right::before {
    transform: rotate(45deg);
    right: 12px;
  }
  .arrow-btn.left {
    left: 50px;
  }
  .arrow-btn.right {
    right: 50px;
  }
  .arrow-btn:hover::after {
    background: #55ddff;
  }
  .arrow-btn:hover::before {
    border-top: 3px solid #55ddff;
    border-right: 3px solid #55ddff;
  }
  .arrow-btn:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
  }

  .work-cards {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }
  .work-cards img {
    width: 100%;
    height: auto;
    border: 1px solid #e5f7ff;
    border-radius: 12px;
  }
  .work-cards div {
    width: 400px;
    padding: 1rem;
    border: 1px solid #e5f7ff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
  }
  .work-cards div:hover {
    transform: translateY(-5px);
    transition: transform 0.3s ease;
    border-color: #55ddff;
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  }
  .work-cards h1 {
    font-size: 1.3rem;
    margin-top: 1rem;
    color: #0a1a2f;
    font-weight: 600;
  }
  .work-cards p {
    font-size: 0.95rem;
    margin-top: 0.5rem;
    color: #333333;
  }

  .dot {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 2rem;
  }
  .dot span {
    width: 10px;
    height: 10px;
    border: #c2edff 2px solid;
    border-radius: 50%;
  }
  .dot-color {
    background: #55ddff;
    border: #55ddff 2px solid;
  }

  .view-button {
    position: absolute;
    margin-top: 2rem;
    border: #0a1a2f 2px solid;
    display: inline-block;
    padding: 10px 18px;
    border-radius: 30px;
    right: 10%;
    color: #0a1a2f;
  }
  .view-button:hover {
    background: #55ddff;
    color: #e5f7ff;
    border: #55ddff 2px solid;
    transform: translateY(-5px);
    transition:
      background 0.3s ease,
      color 0.3s ease,
      transform 0.3s ease;
  }

  @media (max-width: 768px) {
    .work-title {
      font-size: 2.5rem;
    }
    .work-cards {
      flex-direction: column;
      gap: 3rem;
    }
    .work-cards div {
      width: 100%;
    }

    .work-cards h1 {
      font-size: 1.2rem;
    }
    .work-cards p {
      font-size: 0.9rem;
    }

    .arrow-btn {
      width: 60px;
      height: 60px;
    }
  }
</style>

<script>
  const leftBtn = document.getElementById("left-btn") as HTMLButtonElement;
  const rightBtn = document.getElementById("right-btn") as HTMLButtonElement;
  const cards = document.querySelectorAll(".work-card");

  const pageSize = 2;
  let page = 0;

  function render() {
    cards.forEach((card, index) => {
      const start = page * pageSize;
      const end = start + pageSize;

      if (index >= start && index < end) {
        (card as HTMLElement).style.display = "block";
      } else {
        (card as HTMLElement).style.display = "none";
      }
    });

    updateDots();
  }

  leftBtn.addEventListener("click", () => {
    if (page > 0) page--;
    render();
  });

  rightBtn.addEventListener("click", () => {
    if ((page + 1) * pageSize < cards.length) page++;
    render();
  });

  function updateDots() {
    const dots = document.querySelectorAll(".dot span");
    dots.forEach((dot, i) => {
      dot.classList.toggle("dot-color", i === page);
    });
  }

  render();
</script>
