---
import { Image } from "astro:assets";
import Layout from "./Layout.astro";

const { title, image, description, links } = Astro.props;
---

<Layout>
  <main>
    <div class="link"><a href="/projects">Projects</a> / {title}</div>
    <h1>{title}</h1>
    <Image src={image} alt={title} width={700} />

    <p>{description}</p>

    <ul>
      {
        links.map(
          (link: { href: string | URL | null | undefined; label: unknown }) => (
            <li>
              <a href={link.href}>{link.label}</a>
            </li>
          ),
        )
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    color: #fff;
  }
  h1 {
    font-size: 3rem;
  }
  img {
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  p {
    font-size: 1.5rem;
  }
  a {
    color: #fff;
  }
  a:hover {
    color: #ccc;
    text-decoration: underline;
  }
  ul {
    font-size: 2rem;
  }

  .link {
    margin-left: 5.5rem;
    font-size: 1.2rem;
    color: #fff;
  }

  @media (max-width: 789px) {
    h1 {
      font-size: 2.5rem;
    }
    img {
      width: 350px;
      height: 100%;
    }
    p {
      font-size: 1.5rem;
      width: 350px;
    }
  }
</style>
